
body{
  background-color: black;
  color: white;
  height: 100vh;
  overflow-y:scroll ;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
text-align: center;

  justify-content: center;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}