@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Labrada&family=Nunito:wght@600&family=Roboto&family=Roboto+Slab&display=swap');
/* @import './Components/images/Aptos_logo.png'; */

body{
  background-color: rgb(36, 36, 36);
  color: white;
  overflow-y:scroll ;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.page{
  margin: 4em 0rem 2rem 16.8%;
  width: calc(100%-16.8%);
  background: linear-gradient(to left, #515151 20%, rgb(20, 19, 19) 80% );
  min-height: 100vh;
  column-gap: 10px;
  display: flex;
  flex-direction: column;
  z-index: -1;
}