.play-image{
  flex-direction: row;
  display: flex;
  border: 2px solid #0d0f0d ;
  box-shadow: 2px 2px 5px rgb(45, 44, 44);
}

.play-image img{
  height: 70px;
  width: 100px;
}

.play-name{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.play-name div{
    color: #218336;
    font-weight: 800;
    font-size: 1.1rem;
  }
.play-music{
  display: grid;

}

.filled-heart-button{
  position: fixed;
  left: 93%;
  color: rgb(0, 255, 26);
  font-size: 20px;
  cursor: pointer;
}
.filled-plus-button{
  position: fixed;
  left: 90%;
  color: rgb(0, 255, 26);
  font-size: 20px;
  cursor: pointer;

}
.rhap_time{
    color: antiquewhite;
  }
  .custom-audio-player {
    background-color: #972424;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Additional styles as needed */
  

  .audioplay{
    /* background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%); */
    outline: none;
    position: relative;
    bottom: 0;
    right: 0;
  }
  .rhap_loop--off{
    /* background-color: rgb(41, 32, 32); */
    color: white;

  }
  .rhap_time {
    color: #ffffff;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
}