.home-page{
    position: fixed;
    top: 10%;
    right: 0;
    left: 21%;
    height: 110vh;
    background-color: #212121;
}

.home-page p{
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    left: 22%;
}

.home-page a{
    text-decoration: none;
}