.Liked-card{
    width: 245px;
    height: 250px;
    color: white;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.418) 11.2%, rgba(82, 70, 70, 0.44) 78.9%);
    /* background-color: black; */
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    text-align: left;
    color: rgb(213, 211, 211);
    box-shadow: 0px 3px 3px black;
    transition: all 150ms ease-in-out;
    position: relative;
    /* z-index: 1; */
    column-gap: 10px;
    margin-bottom: 10px;
}


.Liked-card:hover{
    box-shadow: 0px 10px 30px black;
    width: 248px;
    /* height: 254px; */
}

.playlist-image{
    /* position: relative; */
    margin-top: 0;
    height: 70%;
    /* z-index: 1; */
    /* background-color: rgb(241, 70, 70); */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.unliked-heart{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    display: flex;
    background-color: rgb(255, 236, 236);
    color: white;
    right: 0px;
    position: relative;
    color: red;
    flex-direction: row;
}

.num-of-likes{
    position: absolute;
    font-size: 14px;
    right: 5px;
    top: 5px;
}

.heart-unliked{
    position: absolute;
    right: 10px;
    top: 5px;
    color: red;
}

.card-image{
    height: 100%;
    width: 100%;
    z-index: 1;
}
.show-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%)  rgb(0, 255, 0);
    /* background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%); */
    /* background-color: rgb(37, 233, 37); */
    align-items: center;
    position:absolute;
    bottom: -15%;
    right: 1%;
    margin-right: 2%;
}
.play-button{
    color: black;
    height: 28px;
    width: 28px;
    align-self: center;
    padding-top: 12px;
    padding-left: 6px;
}

.Liked-card p{
    position: relative;
    float: left;
    height: 20px;
    text-align: left;
}

.song-details{
    padding-left: 5px;
}

.bottom-details{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    padding-bottom: 5px;
}

.songs{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.purchase{
    margin-top: 30px;
    margin-left: 20px;
    width: 80px;
    border-radius: 8px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    align-items:end;
    /* background-color: red; */
    align-items: center;
}

.image-show{
    height: 30px;
    width: 30px;
    color: yellow;
    /* text-align: center; */
}

.image-not-show{
    height: 0;
}

.not-show-price{
    color: transparent;
}
.not_show_paid{
    margin-top: 20px;
    width: 0;
    color: transparent;
}

.show_paid{
    
    width: 60px;
    background: linear-gradient(rgb(52, 102, 174) 0%, rgb(83, 144, 241) 100%);
    text-align: center;
    margin-left: 20px;
    border-radius: 8px;
    height: 25px;
}
.not-purchase .show_paid{
    margin-top: 15px;
}