/* top navbar */
.app-logo{
    height: 20px;
}
.top-navbar{
  background: linear-gradient(to bottom, rgb(32, 32, 32) 0%, rgb(64, 64, 64) 90.2%);
    position: fixed;
    top: 0%;
    right: 0;
    left: 16.8%;
    width: 100%;
    height: 5rem;
    border-radius: 6px 0px;
    z-index: 10;
    border-bottom: 1px solid black;
}
.top-inside{
    padding: 15px;
}
.project-name{
    font-size: 2.1rem;
    top: 15px;
    background:linear-gradient(25deg, rgb(255, 2, 95),  rgb(255,128,141) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.search-bar{
    height: 34px;
    border-radius: 6px;
    border: none;
    width: 15%;
    background-color: rgb(231, 231, 231);
    overflow: hidden;
    display: flex;
    align-items: center;
    &:hover{
        border: none;
    }
}

.search-bar-input{
    width: 90%;
    background-color: rgb(231, 231, 231);
    border: none;
    height: 34px;
    &:focus{
        outline: none;
    }
}

.search-icon{
    color: black;
    height: 25px;
    padding: 10px 5px 10px 10px;

}
.search-icon-close{
    color: black;
    height: 25px;
    padding: 10px 5px 10px 10px;
    cursor: pointer; 
}
.wallet{
    width: 140px;
    height: 35px;
    right: 7%;
    position: fixed;
    top: 2%;
}

.wallet-button{
    background: linear-gradient(25deg, rgb(214, 76, 127), rgb(238, 71, 88) 50%);
    border: none;
    color: white;
    height: 100%;
    width: 100%;
}

.wallet-button{
    color: white !important;
}

.login-button{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 10% 20%, rgb(150, 152, 161) 0%, rgb(82, 107, 132) 81.3%);
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 5px;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

.login-button {
    text-decoration: none;
}

/* .bottom-navbar */
.bottom-navbar{
    padding-left: 2%;
    padding-right: 50px;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    position: fixed;
    bottom: 0%;
    right: 0;
    left: 16.5%;
    display: flex;
    flex-direction: row;
    gap: 8%;
    z-index: 5;
    align-items: center;
    width: calc(100% - 16.5% - 2%);
}

.Song-artist{
    display: flex;
    gap: 10px;
    align-items: center;
}
.addamount{
    padding: 1%;
    border-radius: 2%;
}
.addamountbutton{ 
    background: linear-gradient(25deg, rgb(214, 76, 127), rgb(238, 71, 88) 50%);
    border: none;
    color: white;
    margin-top: 3%;
}
              
/* side navbar */
.logo-items{
    padding-left: 1.5%;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 5rem;
    background: radial-gradient(circle at 10% 20%, rgb(28, 27, 27) 0%, rgb(64, 64, 64) 90.2%);
    width: calc(100% - 1.5%);
}

.logo-items p{
    font-size: 24px;
}

.app-logo{
    height: 40px;
    border-radius: 50%;
}

.side-navbar{
  background: linear-gradient(to top, rgb(32, 32, 32) 0%, rgb(64, 64, 64) 90.2%);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 16.5%;
    height: 100vh;
    border-radius: 5px ;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-right: 5px solid black;
}
.menu-tab{
    width: 100%;
}
.menu-item{
    cursor: pointer;
    margin-left: 0px;
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px rgb(121, 119, 119) solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width:100%;
    height: 40px;
    transition: all 150ms ease-in-out;
}

.menu-item:hover{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    height: 42px;
}

.menu-icon{
    width: 40px;
    height: 20px;
    color: white;
}

.menu-item a{
    text-decoration: none;
    color: whitesmoke;
}

.menu-head{
    color: rgb(177, 169, 169);
    padding-left: 10px;
}

.become_artist{
    bottom: 3%;
    position: fixed;
    left: 2%; 
    background: linear-gradient(25deg, rgb(214, 76, 127), rgb(238, 71, 88) 50%);
    border: none;
    color: white;
    padding: 0.5%;
    cursor: pointer;
    font-size: bold;
}
.become_artist:hover{
   border: 2px solid rgb(15, 15, 15);
   box-shadow: 2px 2px 5px rgb(69, 66, 66);
}
.not-allowed , .not-allowed a{
 cursor: not-allowed;
 opacity: 0.5;
}
