.playlist-card{
    width: 250px;
    height: 190px;
    color: white;
    background-color: black;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    text-align: left;
    color: rgb(213, 211, 211);
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.96) 11.2%, rgb(65, 61, 61) 78.9%);
    box-shadow: 0px 3px 3px black;
    transition: all 300ms ease-in-out;
}

.playlist-card:hover{
    box-shadow: 0px 10px 30px black;
    width: 254px;
    height: 194px;
    background-color: black;
    background: none;
}

.playlist-image{
    position: relative;
    margin-top: 0;
    height: 70%;
    background-color: rgb(241, 70, 70);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.playlist-card p{
    position: relative;
    float: left;
    height: 20px;
    text-align: left;
}

.playlist-details{
    padding-left: 5px;
}