.searchreasult{
    position: relative;
    background-color:black;
    width: 15%;
    display: flex;
    height: 300px;
    overflow-y: scroll;
}
.search-name{
    width: 100%;
}

.search-name p{
    flex-direction: column;
    height: 20px;
    background: linear-gradient(to right, #434343 0%, black 100%);
    padding: 8px;
    width: 100%;
    margin: 1px;
    border: none;
}

.search-name p:hover{
    color: wheat;
}