.Transaction-card{
    width: calc(100%-20%);   
    background: linear-gradient(109.6deg, rgba(21, 21, 21, 0.418) 11.2%, rgba(82, 70, 70, 0.44) 78.9%);
    height: 90px;
    /* border: 1px white solid; */
    display: flex;
    column-gap: 5px;
    padding: 0px;
    border-radius: 6px;
    text-align: left;
    transition: all 300ps ease-in-out;
    box-shadow: 0px 3px 3px black;
}

.left-side{
    padding: 10px 0px 15px 10px;
    flex-direction: column;
    width: 70%;
}

.Transaction-card:hover{
    height: 102px;
    width: calc(100%-19%);
    background: linear-gradient(to right, #434343 0%, black 100%);
}

.transac-details{
    display: flex;
    gap: 10px;
}

.key-transac{
    width: 125px;
    color: wheat;
}
