@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Labrada&family=Nunito:wght@600&family=Roboto&family=Roboto+Slab&display=swap');

.upload-page {
    justify-content: center;
    margin-bottom: 5%;
}
.upload-page h1 { 
	text-align: center; 
	color:whitesmoke; 
} 

.upload-page .upload-form { 
	margin-top: 2%;
	margin-left: 20%; 
	margin-right: 20%; 
	transform: 50% 50%;
	border: none;
	border:2px solid rgba(214, 211, 211, 0.368);
} 

.upload-page input { 
	padding: .3rem; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	margin: 10px; 
} 

.upload-page textarea { 
	padding: .3rem; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	margin: 10px; 
} 

.upload-page label { 
	margin: 10px; 
} 

.upload-page button { 
	padding: .3rem; 
	font-size: 15px; 
	background-color: rgb(9, 17, 6); 
	border: 4px solid #ccc; 
	color: #ccc; 
	padding: 10px; 
	border-radius: 8px; 
	margin: 10px; 
	cursor: pointer; 
	width: 100px;
}

.login-form{
	box-sizing: border-box;
	/* padding: 16px 5px 0px 15px; */
  	/* border:2px solid rgba(214, 211, 211, 0.368); */
	text-align: left;
}

.enter-data{
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.812);
	width: 90%;
	height: 28px;
	margin: 3px 0px 15px 0px;
	padding-left: 10px;
	color: #272727;
  }

.form-header{
	font-size: 30px;
	text-align: left;
	margin: 10px 10px 3px 10px;
}

.below-header{
	font-size: 15px;
	text-align: left;
	margin: 0px 10px;
	color: rgb(180, 171, 171);
}

.line{
	width: calc(100% - 70px);
	color: rgb(111, 111, 111);
	margin-left: 10px;
}
